@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background: linear-gradient(to right, #ff7e5f, #feb47b);">
    <form>
        <label for="birthyear"><strong>Enter Your Birth year:</strong></label>
        <br>
        <input 
            type="number" 
            id="birthyear" 
            name="birthyear" 
            placeholder="Enter your birth year" 
            min="1900" 
            max="2025" 
            required
        >
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
